.boxContainer{
  height: 100vh;
  width: 100vw;

}

.webBrowserBar{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  height: 6.5%;
}
.webBrowserBar .line-holder{
  width: 1800px;
}
.webBrowserBar .line-holder .line{
  height: 1px;
  width: 1780px;
  background-color: #000000;
}

.PostingBox{
  display: flex;
  height: 83.90%;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}

.filtercontainer{
  background-color: red;
  height: 100%;
  width: 10%;

}

.jobInformationContainer{
  width: 80%;
  display: flex;
  flex-direction: row;  
  height: 100%;
  
}

.jobPostContainer{
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-radius: 10px 0 0 0;
  height: 100%;
  width: 70%;

}

.jobDetailContainer{
  border-top: 1px solid black;
  height: 100%;
  width: 30%;
  border-left: 1px solid black;
}

.jobRow{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;

}