.boxContainer{
  height: 100vh;
  width: 100vw;
  background-color: rgb(195, 233, 255);
}

.webBrowserBar{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  height: 6.5%;
  background-color: #dcfbfc;
}
.webBrowserBar .line-holder{
  width: 95%;
}
.webBrowserBar .line-holder .line{
  height: 1px;
  width: 99%;
  background-color: #000000;
}

.PostingBox{
  display: flex;
  height: 83.90%;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}

.filtercontainer{
  
  background-color: white;
  height: 100%;
  width: 15%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0 10px 0 0;
}

.jobInformationContainer{
  width: 80%;
  display: flex;
  flex-direction: row;  
  height: 100%;
  
}

.jobPostContainer{
  background-color: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-radius: 10px 0 0 0;
  height: 100%;
  width: 70%;
}

.jobPostScroll{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85%;

}

.jobDetailContainer{
  background-color: white;
  border-top: 1px solid black;
  height: 100%;
  width: 30%;
  border-left: 1px solid black;

}

.jobRow{
  width: 100%;
  height:  28%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;

}


.displayPosts{

  font-weight: 600;
  font-size: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}