.userBox {
    width: 25vw;
    height: 80vh;
    background-color: white;
    border: 2px solid black;
    display: flex column;
}
.picNameContainer {
    width: 100%;
    height: 25%;
    display: flex;
    gap: 8%;
    align-items: center;

}
.profilePic {
    width: 25%;
    height: 55%;
    border-radius: 100%;
    border: 1px solid black;
    margin-left: 8%;
    margin-top: 6%;
}
.name {
    width: 20%;
    height: 50%;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.9rem;
    color: black;
    margin-top: 6%;
    letter-spacing: 0.1rem;
}
.contactContainer {
    width: 100%;
    height: 50%;
    display:flex column;
    font-size: 1.1rem;
    font-family: 'Nanum Myeongjo', serif;
    color: black;
    margin-left: 7%;
    line-height: 3rem;
}
