.userBox {
    position: absolute;
    width: 25vw;
    height: 80vh;
    background-color: white;
    border: 1px solid black;
    left: 5%;
    top: 3%;
    background-color: #dcfbfc;
}
.picNameContainer {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10%;
    align-items: center;

}
.profilePic {
    width: 30%;
    height: 75%;
    border-radius: 100%;
    border: 0.2px solid black;
    margin-left: 8%;
    margin-top: 8%;
}
.name {
    width: 20%;
    height: 50%;
    font-family: 'Ubuntu', serif;
    font-size: 1.7rem;
    color: black;
    margin-top: 6%;
    line-height: 2.5rem;
}
.contactContainer {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    font-family: 'Nanum Myeongjo', serif;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
    line-height: 3rem;
    justify-content: space-evenly;

}

.editButton {
    width: 10%;
    text-align: right;
    margin-top: 5%;
    margin-right: 10%;
}

.ModifyInfo{
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    height: 90%;
    background-color: white;
}

.AccountBox{
    height: 7%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


.AccountBox .line-holder .line{
    height: 1px;
    width: 98%;
    background-color: #000000;
    
}

.AccountBox .line-holder{
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 700px;
    justify-content: space-between;
}

.AccountBox .windowExit{
    margin-top: 30px;

}

.titleAcc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 18px;
  }

.experienceBox{
    height: 30%;
}

.experienceBoxEdit{
    height: 15%;
}

.myExperienceEdit{
    height: 40%;
}

.myExperience{
    height: 100%;
    overflow-y: scroll;
    text-overflow: ellipsis;
}
.experienceHere{
    height: 80%;
    width: 100%;

}

.updateMyInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

.updateMyInfo .button{
    border-radius: 10px;
    height: 25px;
    background-color: #C6F9FF;

}

.updateMyInfo .button:hover{
    background-color: #00e5ff;
    color: white;
}

.ModifyInfo .header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:18%;
}